body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
}

header {
  background: #b30000;
  padding: 15px;
  color: white;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  background: white;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background: #b30000;
  color: white;
}
